<footer>
    <div class="footer-content flex-row">
        <div class="company-info">
            <p> Ⓒ Artistry Hub</p>
        </div>
        <div class="social-icons">
            <!-- Add your social media icons and links here -->
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>

</body>
</html>