<%- include('./partials/header.ejs')%>
<main>
    <div class="hero-container">
        <section class="hero">
            <div class="rounded-rectangle">
                <h2>Welcome to Artistry Hub!</h2>
                <p>Explore, Create, and Showcase Your Artwork</p> 
                <a href="/artworks" class="start-exploring">Start Exploring</a>
            </div>
        </section>
        <div class="horizontal-image"></div>
    </div>
</main>
<%- include('./partials/footer.ejs')%>